@model IEnumerable<Budget.Models.Transaction>

@{
    ViewBag.Title = "_CatTransactions";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsDeposit)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsReconciled)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
   
    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsDeposit)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsReconciled)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
