@model Budget.Models.Household

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div>
        <div class="col-md-6">
            <h2>Household Members</h2>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    @foreach (var user in Model.Users)
                    {
                        <text> @user.FirstName @user.LastName</text>
                    }
                </div>
                <br />
                <div class="col-md-12">@Html.ActionLink("Leave Household", "Leave", "Households", new { }, new { @class = "btn btn-primary" })</div>
            </div>
        </div>

        <div class="col-md-6">
            @using (Html.BeginForm("Invite", "Households"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>Send invite</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-control">
                    <strong>Email address:</strong>
                        @Html.TextBox("email")
                    </div>

                    <div class="form-group">
                        <div class=" col-md-10">
                            <input type="submit" value="Send" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>

        @*<div class="row">
            <div class="col-md-6">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            </div>
        </div>*@
        
    </div>
</div>