@model Budget.Models.Household
@{
    ViewBag.Title = "Home Page";
}


    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Accounts</h2>

        </div>
        <div class="col-md-12">
            <p>
                @Html.ActionLink("Create New", "Create", "BankAccounts")
            </p>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Balance
                    </th>
                    
                    <th></th>
                </tr>
                
                @foreach (var item in Model.Accounts)
                {
                    if (!item.IsArchived)
                    {
                        <tr>
                        
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "BankAccounts", new { id = item.Id }, null) |
                                @Html.ActionLink("Details", "Details", "BankAccounts", new { id = item.Id }, null) |
                                @Html.ActionLink("Delete", "Delete", "BankAccounts", new { id = item.Id }, null) |
                                @Html.ActionLink("Add transaction", "Create", "Transactions", new { id = item.Id }, null)
                            </td>
                        </tr>
                    }
                }


            </table>
        </div>
        
    </div>
<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Action("_RecentTransactions")
        </div>
    </div>
    <h2 class="text-center">Monthly Budgets</h2>
    <div id="MyChart" style="height: 250px;" class="col-md-6">

    </div>
</div>


@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script type="text/javascript">
    $(function () {

        $.post('@Url.Action("GetChart","Charts")').then(function (response) {
            var next = response.length;
            var budget = response[next - 1].b

            new Morris.Bar({
                element: 'MyChart',
                data: response,
                xkey: 'y',
                ykeys: ['a', 'b'],
                barColors: function (row, series, type) {

                    console.log(row);
                    console.log(series);

                    if (series.index == 0) {

                        if (row.y > budget) {

                            return '#F00';
                        } else {

                            return '#000';
                        }


                    } else if (series.index == 1) {
                        budget = row.y;
                        return '#7A92A3';
                    }

                },
                labels: ['Total', 'Budget'],
                hideHover: false
            });
        });

    });
    </script>
}